

 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Nerf Shop brings <strong>New skills</strong> to <strong>Find Clothes</strong>!</h1>
    <p>Change your clothes.</p>
    <a class="btn btn-success" href="#">Start Now</a>
  </div>
</div>


<!-- adding cards -->
<div class="c">
  <div class="row justify-content-center">
    <h2>Why Us?</h2>
  </div>

<div class="cards">
  <div class="card-cate" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Easy
  </div>

  <div class="card-cate" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Fast
  </div>

  <div class="card-cate" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Fun
  </div>
 </div>
</div>




